.idea
OMFITsave.txt
*.exe
*~
output.avg
output.std
output.rng
input.lim
input.dat
epednn.profiles
2015check_out.txt
\#*\#
.#*
*.pyc
*.o
*.a
*.mod
toq_profiles_test
*.dSYM
.DS_Store
*.so

online_slice/*/main.py
online_slice/*/model.py
